@tailwind base;
@tailwind components;
@tailwind utilities;

    
    body{
        font-family:"roboto";
    }
    
    h1,h2,h3,h4,h5,h6{
        font-family:"montserrat";
    }

    .bg-bleu-z {background-color: "#F29400";

    } 

    .text-bleu-z {color: "#F29400";

    } 

    .footer{
        background-color:#9eabcd;

    }

    ul li:hover{
        color: "#F29400"
    }
